<div id="this-carousel-id" class="carousel slide">
    <div class="carousel-inner">
        <div class="item {{image.status}}" data-ng-repeat="image in images">
            <img ng-src="{{image.source}}" alt="XXX" />
            <div class="carousel-caption">
                <p>{{image.caption}}</p>
            </div>
        </div>
    </div>
    <!--  Next and Previous controls below
          href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div>