<div id="cortejoMainContainer" data-ng-class="viewData.tileMainContainerClass">
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="span12">
            <div class="tittle_girl custom_title_h3">{{ 'THE_WEDDING_PARTY_LABEL' | translate }}</div>
        </div>
    </div>
    <div class="row content_cortejo">
        <div class="span12 pics_container">

            <img class="cortejo_pic"
                 src="images/cortejo/andre.png"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="portu" />
            <img class="cortejo_pic"
                 src="images/cortejo/jo.png"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="marijo" />
            <img class="cortejo_pic"
                 src="images/cortejo/tipo.png"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="tipox!" />
            <img class="cortejo_pic"
                 src="images/cortejo/made.png"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="made" />
            <img class="cortejo_pic"
                 src="images/cortejo/agu.png"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="agu" />
            <img class="cortejo_pic"
                 src="images/cortejo/mano.png"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="mano!" />

            <img class="cortejo_pic"
                 src="images/cortejo/gaby.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="gaby" />
            <img class="cortejo_pic"
                 src="images/cortejo/ricky.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="ricky" />
            <img class="cortejo_pic"
                 src="images/cortejo/fabri.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="fabrix!" />
            <img class="cortejo_pic"
                 src="images/cortejo/galan.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="galan!" />
            <img class="cortejo_pic"
                 src="images/cortejo/pajarito.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="mariale" />
            <img class="cortejo_pic"
                 src="images/cortejo/ana.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="anavic" />

            <img class="cortejo_pic"
                 src="images/cortejo/way.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="way" />
            <img class="cortejo_pic"
                 src="images/cortejo/jessi.png"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="jessi" />
            <div class="cortejo_description">
                <p class="lead cortejo_hashtags">
                    {{ 'WEDDING_PARTY_HASHTAGS' | translate }}
                </p>
            </div>
       </div>
    </div>
</div>