<div data-ng-class="viewData.tileMainContainerClass">
    <div class="row content_novio">

        <div class="span6 column_separator">
            <img src="images/novio.jpg"
                 class="novios_pic"
                 data-toggle="tooltip"
                 data-placement="top"
                 title=""
                 data-original-title="fabio" />
        </div>

        <div class="span6">
            <div class="tittle_boy custom_title_h3">
                {{ 'GROOM_TILE_LABEL' | translate }}
            </div>
            <p class="lead">
                {{ 'GROOM_BIO_P1' | translate }}
            </p>
            <p class="lead">
                {{ 'GROOM_BIO_P2' | translate }}
            </p>
            <p class="lead">
                {{ 'GROOM_BIO_P3' | translate }}
            </p>
            <p class="lead">
                {{ 'GROOM_BIO_P4' | translate }}
            </p>
            <p class="lead signature">
                {{ 'GROOM_BIO_SIGNATURE' | translate}}
            </p>
        </div>

    </div>
</div>
