<div data-ng-class="viewData.tileMainContainerClass">
    <div class="row content_padrinos">
        <div class="span6 column_separator">
            <div class="tittle_girl custom_title_h3">{{ 'PADRINOS_MADE_OF_HONOR_LABEL' | translate }}</div>
            <img src="images/madrina.png"
                 class="madrina_padrino_photo_dimensions padrinos_pic"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="twin" />
            <p class="lead padrinos_hashtags">
                {{ 'MADRINA_HASHTAGS' | translate }}
            </p>
        </div>
        <div class="span6">
            <div class="tittle_boy custom_title_h3">{{ 'PADRINOS_BEST_MAN_LABEL' | translate }}</div>
            <img src="images/padrino.png"
                 class="madrina_padrino_photo_dimensions padrinos_pic"
                 data-toggle="tooltip"
                 data-placement="bottom"
                 title=""
                 data-original-title="potu" />
            <p class="lead padrinos_hashtags">
                {{ 'PADRINO_HASHTAGS' | translate }}
            </p>
        </div>
    </div>
</div>
