<div class="tiza_font large_font">
    Denise && Fabio
</div>
<div id="weAreGettingMarriedAnnouncement" class="tiza_font medium_font">
    ~ We are getting married ~
</div>
<div id="weddingsGeneraInfoContainer">
    <div id="civilWeddingGeneraInfoContainer">
        <p class="tiza_font small_font wedding_general_info_title">
            CIVIL WEDDING COUNTDOWN
        </p>
        <countdown id="civilWeddingCountdown"
                   data-style="flip"
                   data-color="white"
                   data-width="350"
                   data-time-text="2013/08/31 00:00:00"></countdown>
        <button class="btn btn-large btn-primary btn-custom" type="button">@ Sonoma, California</button>
    </div>
    <div id="religionWeddingGeneraInfoContainer">
        <p class="tiza_font small_font">
            RELIGIOUS WEDDING COUNTDOWN
        </p>
        <countdown id="religiousWeddingCountdown"
                   data-style="flip"
                   data-color="white"
                   data-width="350"
                   data-time-text="2013/10/26 00:00:00"></countdown>
        <button class="btn btn-large btn-primary btn-custom" type="button">@ Caracas, Venezuela</button>
    </div>
</div>
<div id="socialBadgesContainer">
    <div class="badge_container">
        <a href="https://twitter.com/canachevidetta" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @canachevidetta</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="badge_container">
        <style>.ig-b- { display: inline-block; }
        .ig-b- img { visibility: hidden; }
        .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
        .ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
        <a href="http://instagram.com/fcanache?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
    </div>
    <div class="badge_container">
        <script type="text/javascript">
            (function (d, buildThese) {
                var homeScript, newScript, n = buildThese.length, i;
                for (i = 0; i < n; i = i + 1) {
                    newScript = d.createElement('SCRIPT');
                    newScript.type = 'text/javascript';
                    newScript.async = true;
                    newScript.src = buildThese[i];
                    homeScript = d.getElementsByTagName('SCRIPT')[0];
                    homeScript.parentNode.insertBefore(newScript, homeScript);
                }
            }(document, [
                        '//assets.pinterest.com/js/pinit.js'
                        /* load more third-party JavaScript here */
                    ])
                    );
        </script>
        <a data-pin-do="buttonFollow" href="http://pinterest.com/canachevidetta/">canachevidetta</a>
    </div>
</div>
